:root {
  // fonts
  --main-font: 'Inter';
  --secondary-font: 'Roboto';

  --font-size: 16px;

  // colors
  --color-bg-base: #fff;
  --color-primary: #2768ff;
  --color-text-base: #000;
  --color-text-secondary: #7c7c7c;

  --color-bg-container: #ffffff;

  // other
  --add-elem-top-bar-height: 70px;
}
